.demo-card-wide > .mdl-card__title {
    color: #fff;
    background-color:#03A9F4;
    display: flex;           /* establish flex container */
    align-items: center;
    justify-content: center;
  }
  
.mdl-card--border{
    display: flex;           /* establish flex container */
    align-items: center;
    justify-content: center;  
}
.mdl-card__supporting-text{
    height:300px;
    
}

.mdl-textfield__label{
    font-size: 12px;
}

.mdl-menu{

}

.mdl-menu__item{
    height:30px;
    font-size: 12px;
    display: flex;           /* establish flex container */
    align-items: center;
 
}

.getmdl-select__fix-height  {
    max-height: 100px !important;
}